<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<title>MENU</title>
</head>
<body>
	<h1>学生側MENU</h1>
	<article>
		<a href="#">予約をする</a>
		<a href="#">予約を取り消す</a>
	</article>
	<article>
		<a href="#">即時利用</a>
		<a href="#">マシン解放待ちの解除</a>
	</article>
	<article>
		<a href="#">利用を終了</a>
		<a href="#">利用を継続</a>
	</article>
	<article>
		<a href="#">ログアウト</a>
	</article>
</body>
</html>